.wrapper {
  // Change height and width here
  min-width: 200px;
  max-width: 95vw;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: white;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .img {
    width: 100%;
    object-fit: cover;
  }

  .textWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .desc {
    }
  }
}
